@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
}

html {
  height: 100%;
  // if the browser default size is 16px
  // 62.5% resets that to 10px
  // this makes using rem units easier
  font-size: 62.5%;
}

body {
  @include rem(font-size, 14px);
  @include font-smoothing(antialiased);
  color: $base-font-color;
  font-family: $body-text-font-family;
  line-height: 1.75;
  @include breakpoint($bp-medium) {
    @include rem(font-size, 15px);
  }
  @include breakpoint($bp-large) {
    @include rem(font-size, 16px);
  }
}


a {
  @include link-colors($link-color, $link-color-hover);
  text-decoration: none;
  transition: color 0.25s ease;
  -webkit-tap-highlight-color: transparent;
  &:hover, &:focus {
    text-decoration: underline;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-bottom: 12px;
  margin-top: 0;
  font-family: $header-font-family;
  line-height: 1.55;
  font-weight: 900;
}

h1, .h1 {
  @include rem(font-size, $h1-font-size / 1.7);
  @include breakpoint($bp-medium) {
    @include rem(font-size, $h1-font-size / 1.25);
  }
  @include breakpoint($bp-large) {
    @include rem(font-size, $h1-font-size);
  }
}

h2, .h2 {
  @include rem(font-size, $h2-font-size / 1.5);
  @include breakpoint($bp-medium) {
    @include rem(font-size, $h2-font-size / 1.2);
  }
  @include breakpoint($bp-large) {
    @include rem(font-size, $h2-font-size);
  }
}

h3, .h3 {
  @include rem(font-size, $h3-font-size / 1.25);
  //font-weight: normal;
  @include breakpoint($bp-medium) {
    @include rem(font-size, $h3-font-size / 1.1);
  }
  @include breakpoint($bp-large) {
    @include rem(font-size, $h3-font-size);
  }
}

h4, .h4 {
  @include rem(font-size, $h4-font-size / 1.5);
  @include breakpoint($bp-medium) {
    @include rem(font-size, $h4-font-size / 1.25);
  }
  @include breakpoint($bp-large) {
    @include rem(font-size, $h4-font-size);
  }
}

h5, .h5 {
  @include rem(font-size, $h5-font-size / 1.5);
  text-transform: uppercase;
  @include breakpoint($bp-medium) {
    @include rem(font-size, $h5-font-size / 1.25);
  }
  @include breakpoint($bp-large) {
    @include rem(font-size, $h5-font-size);
  }
}

h6, .h6 {
  @include rem(font-size, $h6-font-size / 1.5);
  text-transform: uppercase;
  @include breakpoint($bp-medium) {
    @include rem(font-size, $h6-font-size / 1.25);
  }
  @include breakpoint($bp-large) {
    @include rem(font-size, $h6-font-size);
  }
}

p {
  margin-bottom: em(24);
  @extend %no-dangling;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

.skip-link {
  @include element-focusable;
}