form {
  width: 100%;
}

input, textarea {
  padding: 15px;
  width: 100%;
  border: 1px solid $blue;
  border-left: 5px solid $blue;
  background-color: $off-white;

  &:focus, &:active {
    box-shadow: 0 0 2px rgba($blue, 0.8);
    background-color: $blue;
    color: $off-white;
  }
}

input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: $blue;
  color: $off-black;
  text-transform: uppercase;
}

.contact-form {
  width: 100%;
  margin: 30px auto;

  @include breakpoint($bp-medium) {
    max-width: 75%;
  }

  @include breakpoint($bp-large) {
    max-width: 65%;
  }

  @include breakpoint($bp-desktop) {
    max-width: 50%;
  }
}
