body {
  & * {
    box-sizing: border-box;
  }
}

.site-main {

  &__inner {
    max-width: 94%;
    margin: 0 auto;
    background-color: rgba($off-white, 0.9);
    padding: 20px 0;

    @include breakpoint($bp-medium) {
      max-width: 96%;
      margin-top: -100px;
    }

    @include breakpoint($bp-large) {
      max-width: $site-width + 60px;
      padding: 50px 30px;
      margin-top: -135px;
    }
  }
}

.page-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  @include breakpoint($bp-large) {
    padding: 0;
  }
}
