.module-details {
  display: table;
  width: 100%;
  padding: 10px 20px;

  &__image {
    @include breakpoint($bp-medium) {
      display: table-cell;
      width: 50%;
      vertical-align: top;
      padding: 10px 10px 10px 20px;
    }
    img {
      max-width: 100% !important;
      height: auto !important;
    }
  }
  &__features {
    margin: 0;
    padding: 0;
    @include breakpoint($bp-medium) {
      display: table-cell;
      width: 50%;
      vertical-align: top;
      padding: 10px 20px 10px 10px;
    }
  }
  &__feature {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0.5em;
  }
}

.module-slides {
  max-width: 1200px;
  margin: 0 auto;

  &__slide {
    width: $module-grid-image-width;
    overflow: hidden;
    //padding: 10px;

    @include breakpoint($bp-desktop) {
      height: $module-grid-image-height;

      &:hover {
        .module-slides__front {
          transform: rotateY(180deg);
        }
        .module-slides__back {
          transform: rotateY(0deg);
          z-index: 2;
        }
      }
    }
    .module-slides__front,
    .module-slides__back {
      background-color: rgba($blue, 0.9);
    }

    &:nth-child(8n + 2) {
      .module-slides__front,
      .module-slides__back {
        background-color: rgba($yellow, 0.9);
      }
    }

    &:nth-child(8n + 3) {
      .module-slides__front,
      .module-slides__back {
        background-color: rgba($green, 0.9);
      }
    }

    &:nth-child(8n + 4) {
      .module-slides__front,
      .module-slides__back {
        background-color: rgba($pale-blue, 0.9);
      }
    }

    &:nth-child(8n + 5) {
      .module-slides__front,
      .module-slides__back {
        background-color: rgba($purple, 0.9);
      }
    }

    &:nth-child(8n + 6) {
      .module-slides__front,
      .module-slides__back {
        background-color: rgba($turquoise, 0.9);
      }
    }

    &:nth-child(8n + 7) {
      .module-slides__front,
      .module-slides__back {
        background-color: rgba($red, 0.9);
      }
    }

    &:nth-child(8n + 8) {
      .module-slides__front,
      .module-slides__back {
        background-color: rgba($purple-dark, 0.9);
      }
    }
  }

  &__title {
    @extend .h3;
    display: block;
    text-align: center;
    z-index: 5;
    padding: 0 25px;
    color: white;
    margin: 0;
    font-weight: 400;
    @include breakpoint($bp-desktop) {
      //color: white;
      padding: 0 25px;
      margin-bottom: 10px;
    }
  }

  &__overlay {
    display: none;
    @include breakpoint($bp-desktop) {
      //background-color: rgba(black, 0.2);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: block;
    }
  }

  &__learn-more {
    display: none;
    @include breakpoint($bp-desktop) {
      @include rem(font-size, 15px);
      font-weight: 400;
      display: block;
      text-align: center;
      z-index: 5;
      color: white;
    }
  }

  &__feature {
    @include rem(font-size, 14px);
    display: block;
    text-align: center;
  }

  &__image {
    display: none;
    @include breakpoint($bp-desktop) {
      width: $module-grid-image-width;
      height: $module-grid-image-height;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100% !important;
      transition: all 0.5s;
      filter: blur(4px);
      transform: scale(1.2);
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    perspective: 1000;
    position: relative;
    overflow: hidden;


  }

  &__icon {
    margin: 10px 0;
  }

  &__front {
    //width: $module-grid-image-width - 20px;
    width: $module-grid-image-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    @include breakpoint($bp-desktop) {
      //height: $module-grid-image-height - 20px;
      height: $module-grid-image-height;
      transition: all 0.4s;
      transform: rotateY(0deg);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      padding: 0;
    }
  }

  &__back {
    color: white;
    padding: 0 10px 10px;
    text-align: center;
    //width: $module-grid-image-width - 20px;
    width: $module-grid-image-width;

    @include breakpoint($bp-desktop) {
      //height: $module-grid-image-height - 20px;
      height: $module-grid-image-height;
      transition: all 0.5s;
      transform: rotateY(-180deg);
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 10px;
      opacity: 0;
    }
  }


  &.desktop {
    .module-slides__link {
      &:hover {
        text-decoration: none;

        .module-slides__back {
          opacity: 1 !important;
        }
        .module-slides__front {
          opacity: 0 !important;
        }
      }
    }
  }
}

.module-filters {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px 10px;
  text-align: center;
  li {
    padding: 5px 20px;
    list-style-type: none;
    display: inline-block;
    margin: 5px 10px 5px 0;
    font-weight: bold;
    transition: all .5s ease-in-out;
    background-color: #ccc;
    cursor: pointer;
    &:hover {
      background-color: #bbb;
    }
  }
}