.module-details {
	display: table;
	width: 100%;
	padding: 10px 20px;

	&__image {
		@include breakpoint($bp-medium) {
			display: table-cell;
			width: 50%;
			vertical-align: top;
			padding: 10px 10px 10px 20px;
		}
		img {
			max-width: 100% !important;
			height: auto !important;
		}
	}
	&__features {
		margin: 0;
		padding: 0;
		@include breakpoint($bp-medium) {
			display: table-cell;
			width: 50%;
			vertical-align: top;
			padding: 10px 20px 10px 10px;
		}
	}
	&__feature {
		list-style: none;
		text-align: left;
		padding: 0;
		margin: 0 0 0.5em;
	}
}

.module-slides {
	//display: flex;
	//flex-direction: row;
	//flex-wrap: wrap;
	//justify-content: center;
	//align-items: flex-start;
  margin: 0 auto;
  width: $module-grid-image-width-single;
  @include breakpoint($bp-medium) {
    width: 100%;
  }

	&__slide {
		width: $module-grid-image-width-single;
		overflow: hidden;
		padding: 10px;

		@include breakpoint($bp-desktop) {
			//height: $module-grid-image-height;
			//perspective: 1000;
			//position: relative;

      &.double {
        width: $module-grid-image-width-double;
      }

			&:hover {
				.module-slides__front {
					//transform: rotateY(180deg);
				}
				.module-slides__back {
					//transform: rotateY(0deg);
					//z-index: 2;
				}
			}
		}
		.module-slides__front,
		.module-slides__back {
			background-color: $blue;
		}

		&:nth-child(7n + 2) {
			.module-slides__front,
			.module-slides__back {
				background-color: $yellow;
			}
		}

		&:nth-child(7n + 3) {
			.module-slides__front,
			.module-slides__back {
				background-color: $green;
			}
		}

		&:nth-child(7n + 4) {
			.module-slides__front,
			.module-slides__back {
				background-color: $pale-blue;
			}
		}

		&:nth-child(7n + 5) {
			.module-slides__front,
			.module-slides__back {
				background-color: $purple;
			}
		}

		&:nth-child(7n + 6) {
			.module-slides__front,
			.module-slides__back {
				background-color: $turquoise;
			}
		}

		&:nth-child(7n + 7) {
			.module-slides__front,
			.module-slides__back {
				background-color: $red;
			}
		}
	}

	&__title {
		@extend .h2;
		display: block;
		text-align: center;
		z-index: 5;
		padding: 0 25px;
		color: black;
		margin: 0;
		@include breakpoint($bp-desktop) {
			padding: 0 25px;
			font-size: 25px;
			font-size: 2.5rem;
		}
	}

	&__overlay {
		display: none;
		@include breakpoint($bp-desktop) {
			//background-color: rgba(black, 0.2);
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			display: block;
		}
	}

	&__learn-more {
		display: none;
		@include breakpoint($bp-desktop) {
			@include rem(font-size, 15px);
			font-weight: 400;
			display: block;
			text-align: center;
			z-index: 5;
			color: black;
		}
	}

	&__feature {
		@include rem(font-size, 14px);
		display: block;
		text-align: left;
    padding: 10px;
    margin: 0 10px;
    border-top: 1px solid black;
	}

	&__image {
		display: none;
		@include breakpoint($bp-desktop) {
			display: block;
      padding: 5px;
		}
	}

	&__link {
		display: block;
		width: 100%;
		height: 100%;

		&:hover {
			text-decoration: none;

      .module-slides__overlay {
        background-color: rgba(white, 0.1);
      }
		}
	}

  &__icon {
    margin: 10px 0;
  }

	&__front {
		width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    //min-height: $module-grid-image-height;
	}

	&__back {
		width: 100%;
		color: black;
		text-align: center;

		@include breakpoint($bp-medium) {
			font-size: 19px;
			font-size: 1.9rem;
		}

	}
}

.module-filters {
  margin: 0;
  padding: 5px 10px;
  li {
    padding: 5px 20px;
    list-style-type: none;
    display: inline-block;
    margin: 5px 10px 5px 0;
    font-weight: bold;

    &:nth-child(n + 2) {
      transition: all .5s ease-in-out;
      background-color: #ccc;
      cursor: pointer;
      &:hover {
        background-color: #bbb;
      }
    }
  }
}