.site-main {
  padding-top: $header-height;
  position: relative;
  //background: url('../../images/school.png') top left repeat $off-white;

  &__header-inner {
    @extend %vertically-aligned-flexbox;
    @extend %site-max-width;
    text-align: center;

    @include breakpoint($bp-medium) {
      height: $page-header-height;
    }
  }

  &__header {
    @include breakpoint($bp-medium) {
      height: $page-header-height;
    }
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
  }

  &.home {
    .site-main__inner {
      @include breakpoint($bp-medium) {
        background-color: rgba(255,255,255,0.5);
      }
    }

    .page-header__title {
      text-align: center;
      margin-bottom: 0;
    }

    .page-header__text {
      @extend .h3;
      margin-bottom: 200px;
      text-align: center;
      font-weight: normal;
      padding: 0 30px;
      p {
        margin: 10px 0;
      }

      a {
        transition: all .5s linear;
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid $purple-dark;
        text-decoration: none;
        margin: 0;
        color: $purple-dark;
        &:hover {
          background-color: rgba($purple-dark, 0.2);
        }
      }
    }
  }
}